/website/node_modules
/website/.vscode
/website/.env


/front/node_modules
/front/.vscode
/front/.env


/api/node_modules
/api/.vscode
/api/.env
/api/.editorconfig
/api/public/build
/api/public/hot
/api/public/storage
/api/storage/*.key
/api/vendor
/api/.env.backup
/api/.phpunit.result.cache
/api/Homestead.json
/api/Homestead.yaml
/api/auth.json
/api/npm-debug.log
/api/yarn-error.log
/api//.idea

